# Object file
*.o

# Ada Library Information
*.ali

backend/node_modules/
frontend/node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
node_modules
